name: Release topic changes dev-gcp

on:
  workflow_dispatch:

jobs:
  deploy-to-dev:
    name: Deploy to dev-gcp
    permissions:
      contents: "read"
      id-token: "write"  
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Release changes for pgi topics
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: topics/dev/privat-pgi-nextsekvensnummer.yaml,topics/dev/privat-pgi-hendelse.yaml,topics/dev/privat-pgi-inntekt.yaml,topics/dev/privat-pgi-hendelse-republisering.yaml
